body {
font-family: 'Arial', sans-serif;
font-style: italic; 
background-color: #f0f0f0; 
text-align: center; 
}
 
.navbar {
background-color: black;
 overflow: hidden;
 text-align: left;
 border-size: 24px;

}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #382a2a;
  color: white;
}


.desc {
text-align: justify;
padding: 10px;
margin: 10px auto;
font-size: 24px;
}