* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: black;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
    padding: 12px;
    transition: color 1s ease, background-color 1s ease;
}

.nav-item:hover {
    background-color: rgb(126, 123, 123);
    border-radius: 8px;
    color: #fff;
}
